/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/tmp/db/#innodb_redo/#ib_redo10_tmp
/tmp/db/#innodb_redo/#ib_redo11_tmp
/tmp/db/#innodb_redo/#ib_redo12_tmp
/tmp/db/#innodb_redo/#ib_redo13_tmp
/tmp/db/#innodb_redo/#ib_redo14_tmp
/tmp/db/#innodb_redo/#ib_redo15_tmp
/tmp/db/#innodb_redo/#ib_redo16_tmp
/tmp/db/#innodb_redo/#ib_redo17_tmp
/tmp/db/#innodb_redo/#ib_redo18_tmp
/tmp/db/#innodb_redo/#ib_redo19_tmp
/tmp/db/#innodb_redo/#ib_redo20_tmp
/tmp/db/#innodb_redo/#ib_redo21_tmp
/tmp/db/#innodb_redo/#ib_redo22_tmp
/tmp/db/#innodb_redo/#ib_redo23_tmp
/tmp/db/#innodb_redo/#ib_redo24_tmp
/tmp/db/#innodb_redo/#ib_redo25_tmp
/tmp/db/#innodb_redo/#ib_redo26_tmp
/tmp/db/#innodb_redo/#ib_redo27_tmp
/tmp/db/#innodb_redo/#ib_redo28_tmp
/tmp/db/#innodb_redo/#ib_redo29_tmp
/tmp/db/#innodb_redo/#ib_redo30_tmp
/tmp/db/#innodb_redo/#ib_redo31_tmp
/tmp/db/mysql.sock
